<div class="row">
  <!-- left column -->
  <div class="col-md-6">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ _('Scheme') }}</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">

          <ajax-input label="'{{ _('Id') }}'"
          value="currentScheme.id"
          url="cfg.baseUrl + '/schemes/' + schemeId"
          method="PUT"
          key="id"
          /></ajax-input>

          <ajax-input label="'{{ _('Name') }}'"
          value="currentScheme.name"
          url="cfg.baseUrl + '/schemes/' + schemeId"
          method="PUT"
          key="name"
          /></ajax-input>

          <div class="form-group">
            <div class="col-sm-12">
              <button ng-click="delScheme()" class="btn btn-def-sz btn-sm btn-danger pull-right">{{ _('Delete scheme') }}</button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <table class="table table-striped">
                <tbody><tr>
                  <th>{{ _('Lang') }}</th>
                  <th>{{ _('Label') }}</th>
                  <th></th>
                </tr>
                <tr data-ng-repeat="label in currentScheme.labels">
                  <td> {{ '{{ label.lang }}' }} </td>
                  <td> {{ '{{ label.literal }}' }} </td>
                  <td>
                    <!-- <a href="#" onclick="return false;"> -->
                    <!--   <span class="glyphicon glyphicon-trash pull-right"></span> -->
                    <!-- </a> -->
                  </td>
                </tr>
                <tr>
                  <td class="input-group-sm">
                    <select class="form-control" ng-model="schemeNewLabelLang" ng-init="schemeNewLabelLang = firstOfHash(currentScheme.langs)">
                      <option data-ng-repeat="(lang, desc) in currentScheme.langs" value="{{ '{{ lang }}' }}">{{ '{{ lang }}' }}</option>
                    </select>
                  </td>
                  <td class="input-group-sm"><input ng-enter="addSchemeLabel()" class="form-control" ng-model="newSchemeLabel" /> </td>
                  <td><button ng-click="addSchemeLabel()" class="btn btn-def-sz btn-sm btn-primary pull-right">{{ _('Add') }}</button></td>
                </tr>

                </tbody></table>
            </div>
          </div>
        </div><!-- /.box-body -->
      </form>
    </div>
    <!-- /.box -->
  </div>
  <!--/.col (right) -->

  <!-- left column -->
  <div class="col-md-6">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ _('Namespace') }}</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form" class="form-horizontal">
        <div class="box-body">

          <ajax-input label="'{{ _('prefix') }}'"
          value="currentScheme.ns_prefix"
          url="cfg.baseUrl + '/schemes/' + schemeId"
          method="PUT"
          key="ns_prefix"/></ajax-input>

          <ajax-input label="'{{ _('URL') }}'"
          value="currentScheme.ns_url"
          url="cfg.baseUrl + '/schemes/' + schemeId"
          method="PUT"
          key="ns_url"/></ajax-input>

        </div>
      </form>
    </div>
    <!-- /.box -->
  </div>

  <!-- left column -->
  <div class="col-md-6">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ _('Hierarhy') }}</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">

          <table class="table table-striped">
            <tbody><tr>
              <th>{{ _('Name') }}</th>
              <th></th>
            </tr>

            <tr data-ng-repeat="p in currentScheme.parents">
              <td> {{ '{{ p }}' }} </td>
              <td>
                <a href="#" onclick="return false" ng-click="delHierarhy(p)" >
                  <span class="glyphicon glyphicon-trash pull-right"></span>
                </a>
              </td>
            </tr>

            <tr>
              <td class="input-group-sm">
                <select class="form-control" ng-model="newHierarhyPreifix">
                  <option data-ng-repeat="sh in schemes" value="{{ '{{ sh.name }}' }}">{{ '{{ sh.name }}' }}</option>
                </select>
              </td>
              <td><button ng-click="addHierarhy()" class="btn btn-def-sz btn-sm btn-primary pull-right">{{ _('Add') }}</button></td>
            </tr>
            </tbody></table>


        </div>
      </form>
    </div>
    <!-- /.box -->

  </div>
</div>
<div class="row">

  <div class="col-md-6">
    <!-- export -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ _('Export') }}</h3>
      </div>
      <div class="box-body">
        <div class="col-sm-8 input-group-sm">
          <select class="form-control" ng-model="exportFormat">
            <option value="rdf">rdf/turtle</option>
          </select>
        </div>
        <div class="col-sm-4">
          <button ng-click="exportScheme(scheme, exportFormat)" class="btn btn-def-sz btn-sm btn-primary pull-right">{{ _('Export') }}</button>
        </div>
      </div>
    </div>
    <!-- /export -->
  </div>

  <div class="col-md-6">
    <!-- concepts -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ _('Concepts') }}</h3>
      </div>
      <div class="box-body">
        <button ng-click="addConcept()" class="btn btn-def-sz btn-sm btn-primary pull-right">{{ _('Add concept') }}</button>
      </div>
    </div>
    <!-- /concepts -->
  </div>

</div>

{% include 'edit_block/scheme_relations.html'%}
{% include 'edit_block/scheme_top_concepts.html'%}
